body{
    margin:0px;
    padding:0px;
    /* background-color:purple; */
}
html
{
   scroll-behavior: smooth;
}
#navbar{
    display:flex;
    align-items: center;
    top:0px;
    left:0px;
    position:sticky;

}
#logo img{
    height:100px;
    height:100px;
    margin-left:10px;
    /* border:2px solid black; */
    transition-duration: 0.5s;
    transition-delay: 0.1s;
}
#logo img:hover{
    cursor:pointer;
    transform:rotate(360deg);
    box-shadow:2px 2px white;
}
#navbar ul{
    display:flex;
    /* margin-left: 5px; */
}
#login{
 position:relative;
 left:650px;


}
.but{
 border-radius: 10px;
 padding:3px;
 color:black;
 font-size:13px;
 border-radius: 10px;
 cursor:pointer;
}
.but:hover{
    color:black;
    background-color: rgb(92, 87, 87);
}
.item{
    /* Border:2px solid black; */
    /* text-decoration: none; */
    list-style: none;
    /* border:2px solid red; */
    padding:10px 10px;
   
}

#navbar ul li a{
    text-decoration: none;
    color:white;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /* border:2px solid black; */
    padding:6px;
    border-radius: 14px;
}

#navbar ul li a:hover{
    color:black;
    background-color: white;
    background-color: rgb(92, 87, 87);

}

#navbar::before{
    content:" ";
    background-color: black;
    position:absolute;
    top:0px;
    left:0px;
    height:100%;
    width:100%;
    z-index:-1;
    opacity:0.4;
}

#home{
    display:flex;
    flex-direction:column;
    margin-top:0px;
    padding:0px;
    align-items: center;
    /* justify-content:center; */
    height:100vh;
}
#home:before{
    margin:0px;
    content:"";
    top:0px;
    left:0px;
    position:absolute;
    background-image: url('main.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width:100%;
    height:100%;
    z-index:-1;
    opacity:0.89;
}

.btn{
    padding:6px 20px;
    /* border:2px solid red; */
    background-color:lightcoral;
    color:black;
    font-size:25px;
    border-radius: 10px;
     margin-left: 1146px;
    margin-top: 200px;
}

.btn:hover{
    cursor:pointer;
    background-color:white;
}

#home h1{
    color:white;
    text-shadow:2px 2px 6px green;
    font-size:40px;
    /* border:2px solid red;  */
    margin-bottom:250px;
}


.menuhead h1{
    color:brown;
    /* border:2px solid black; */
    display:block;
    margin:auto;
    width:fit-content;
    margin-top:-67px;
    font-size: 50px;
}


#menu{
    /* border:2px solid red; */
    display:grid;
    grid-template-columns: repeat(2,auto);
    grid-gap:2rem;
    margin:4px 6px;
    background-color:rgb(196, 194, 194);
}
#menu .food{
    border:2px solid black;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:23px 32px;
    border-radius: 10px;
    width:fit-content;
    background-color: blanchedalmond;
}
.food img{
    height:150px;
    width:250px;
}

#photos{
    /* border:2px solid red; */
    background-color:rgb(196, 194, 194);
    display:grid;
    grid-template-columns: repeat(4,auto);
    /* grid-gap:5px; */

 }


#photos img{
   height: 250px;
   width:350px;
   margin-top:0px;
}
.photohead{
    color:brown;
    /* border:2px solid black; */
    display:block;
    margin:auto;
    width:fit-content;
    margin-top:-31px;
    font-size: 30px;
 }

 #sponsors img{
    height: 250px;
    width:350px;
 }
 #sponsors {
  display:flex;
  align-items: center;
  justify-content: center;
 }
 #sponsors::before{
    content:"";
    position:absolute;
    background:url('house2.jpg');
    width:100%;
    height:230px;
    z-index:-1;
    opacity:0.4;
}

.sponsorhead{
    color:brown;
    /* border:2px solid black; */
    display:block;
    margin:auto;
    width:fit-content;
    margin-top:-31px;
    font-size: 30px;
 }





 .contacthead{
 color:brown;
 /* border:2px solid black; */
 display:block;
 margin:auto;
 width:fit-content;
 margin-top:-31px;
 font-size: 30px;
}

#contact::before{
    content:"";
    position:absolute;
    background:url('contact.jpg');
    width:100%;
    height:100%;
    z-index:-1;
    opacity:0.4;
}

#contact{
    position:relative;

}

#contact-box{
    display:flex;
    justify-content:center;
    align-items:center;
    padding-bottom:24px;
}
#contact-box input,
#contact-box textarea{
  width:100%;
  padding:0.5rem;
  border-radius: 9px;
  font-size:1.3rem;
}
.sub{
    margin-left:515px;
    border-radius: 6px;
    font-size: 20px;
    width:fit-content;
    margin-bottom:25px;
    background-color:blue;
    
}
.sub:hover{
    background-color:white;
    cursor:pointer;
}

footer{
    background-color: black;
    color:white;
}


.center{
    text-align: center;
}
