*{
    box-sizing: border-box;
}
html{
scroll-behavior: smooth;
}


   .navigation{
    background-color: rgb(135, 223, 255);
    width:100%;
    display:grid;
  grid-template-columns:20% 60% 20%;
  padding-top: 23px;
  top:0px;
  position:sticky;
   }

   .name{
    text-align:center;
    padding: 23px;
   }
   .dropdown a{
    display: flex;
    flex-direction: row;
    text-decoration: none;
    color: black;
   }
.dropdown:hover .dropcontent{
  display: block;
}
   .dropcontent{
    display:none;
    position: absolute;
  }
 
   .url a{
       /* text-align: center; */
       padding-left:30px;
       flex-direction: row;
       text-decoration: none;
       color: black;
   }

.url :hover{
  cursor: pointer;
  text-decoration: underline solid rgb(56, 55, 55) ;
}
.url {
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* border: 2px solid red; */
}


   .sign{
    text-align: center;
    padding:23px;
    padding-top: 38px;
   }

   

#content{
  /* border:2px solid red; */
  display:grid;
  grid-template-columns: repeat(2,auto);
  grid-gap:2rem;
  /* background-color: red; */
  background-color: rgb(135, 223, 255);
}
/* 
#dropcontent1{
  color: black;
  display: flex;
  flex-direction: row;
}

#dropcontent2{
  color: black;
  display: flex;
  flex-direction: row;
} */

.text{
  background-color: rgb(135, 223, 255);
}


.photo{
  background-image: url('Group 685.png');
  background-position:51% -148%;
background-repeat: no-repeat;
}

.sponsor{
  height:200px;
  /* border:2px solid blue; */
  background-color: whitesmoke;
}

.spontext{
  /* border: 2px solid yellow; */
  margin-top: 3px;
  padding: 34px;
  text-align: center;
  font-size: 20px;
}
.spon{
  margin-top: -37px;
 column-count: auto;
 padding: 6px;
}
.spon img{
  padding: 36px;
}

.quo{
  /* border:2px solid red; */
  margin-top: 51px;
  display:grid;
  grid-template-columns: repeat(2,auto);
  grid-gap:2rem;
}
.quotext{
  /* border: 2px solid yellow; */
}
.quote{
  background-color: rgba(196, 196, 196, 1);
  /* border: 2px solid black; */
  width: 445px;
  height: 200px;
  padding: 51px;
  margin: 24px;
  border-radius: 24px;
}

.transactions{
  /* border: 2px solid black; */
  /* height: 400px; */
  display:grid;
  grid-template-columns: repeat(3,auto);
  grid-gap:2rem;
  margin-top: -24px;

}
.wallet{
  text-align: center;
  margin:76px;
  height: 300px;
  border: 2px solid white;
  border-radius: 12px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.box1{
  /* border: 2px solid black; */
  height: 14px;
  width: 46px;
  margin-left: 114px;
  background-color: black;
}
.box2{
  /* border: 2px solid black; */
  margin-top: 4px;
  height: 26px;
  width: 55px;
  margin-left: 114px;
  background-color: rgba(255, 127, 92, 1);
}

.pay{
  /* border: 2px solid black; */
   display:grid;
   grid-template-columns: repeat(2,auto);
   grid-gap:2rem;
}

.hand{
  /* border: 2px solid yellow; */
  background-color: rgba(219, 241, 250, 1);
 width: 300px;
 height: 400px;
 /* background-image: url('image 56.png'); */
}
.boxes{
  position: absolute;
  margin-top: 0px;
  height: 410px;
  width:472px;
  /* border: 2px solid red; */
  background-color: rgba(219, 241, 250, 1);
}
.money{
  /* border: 2px solid; */
  height: 400px;
  position: abolute;
  margin-top:450px;
}
.money2{
  /* border: 2px solid; */
  width: 400px;
  height: 159px;
  border-radius:20px;
  background-color:rgba(196, 196, 196, 1) ;
}

.features{
  /* border: 2px solid red; */
  /* height: 1000px; */
  background-color: rgba(201, 231, 242, 1);
  padding-left: 80px;
  padding-top: 35px;
}

.sister{
  /* border: 2px solid yellow; */
  display: grid;
  grid-template-columns: repeat(3,auto);
  grid-gap:2rem;
  margin-top: 30px;
  margin-bottom: 18px;
  padding-right: 88px;
}

.sister1{
  margin: 22px;
 /* border:2px solid red; */
 padding: 21px;
 border-radius: 12px;
 background-color: white;
 margin-left: 2px;
}


.box3{
  /* border: 2px solid black; */
  height: 14px;
  width: 46px;
  /* margin-left: 114px; */
  background-color: black;
}
.box4{
  /* border: 2px solid black; */
  margin-top: 4px;
  height: 26px;
  width: 55px;
  /* margin-left: 114px; */
  background-color: rgba(255, 127, 92, 1);
}
.lilsis{
  /* border: 2px solid; */
  padding: 25px;
  margin: 12px;
  border-radius: 12px;
  background-color: white;
  font-size: 12px;
}

.testimonials{
  /* border: 2px solid yellow; */
  padding-left: 90px;
}

.test{
  display: flex;
  /* border: 2px solid purple; */
}

.pic{
  border: 2px solid gainsboro;
  display: flex;
  /* width: 37%; */
  padding: 40px;
  border-radius: 23px;
}

.users{
  display: grid;
  grid-template-columns: repeat(4,auto);
  grid-gap:2rem;
  /* border: 2px solid red; */
 background-color: rgba(55, 52, 169, 1);
 color: white;
 height: 200px;
 margin-top: 135px;
}

.user1{
  /* border: 2px solid green; */
 padding: 21px;
 font-size: 20px;
margin:24px;
}

.usertext{
  font-weight: bold;
   font-size:54px;
}

.blog{
  padding-left: 80px;
  display: flex;
  margin-top: 124px;
}

.blog2{
  display: grid;
  grid-template-columns: repeat(4,auto);
  column-gap:6px;
  /* border: 2px solid red; */
  padding-left: 80px;
}

#question{
  /* border: 2px solid black; */
   margin-top: 103px;
   padding-left: 80px;
   margin-bottom: 50px;
}

.questionhead{
  /* border: 2px solid red; */
  display:grid;
  grid-template-columns:60% 40%;

}

.question1{
  border: 2px solid  gainsboro;
  padding-left: 9px;
  margin: 12px;
  height: 102px;
  width: 613px;
  border-radius: 12px;
}
.satisfyques{
  border: 2px solid  gainsboro;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  border-radius: 10px;
  height: 369px;
  width: 429px;
  margin-left:-53px ;
}

#addquestion{
  position: absolute;
  margin-top: -42px;
  margin-left: 567px;
}
.shootmail{
  height: 40px;
  width: 180px;
  background-color:rgba(255, 127, 92, 1) ; 
  color: white;
  display: flex;
  align-items: center; 
  justify-content: center;
}
.shootmail:hover{
cursor: pointer;
}

.better{
  height:319px;
  background-color: rgba(55, 52, 169, 1);
  color: white;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin-left: 80px; */
}

.foots{
  display:grid;
  grid-template-columns:20% 20%  20% 40% ;
  /* border: 2px solid black; */
  margin-left: 80px;
  margin-top: 100px;
}
