*{
    box-sizing: border-box;
}
/* body{
  margin:40px;
} */
.navigation{
    /* border:2px solid red; */
    /* margin-left:40px;  */
    /* padding-left:60px;
    padding-top:40px;
    background-color: rgb(135, 223, 255); ; */
}
/* ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  li {
    float: left;
  
  }
  li a {
    display: block;
    color:black;
    text-align: center;
    padding: 4px;
    text-decoration: none;
  }  */

   .navigation{
    background-color: rgb(135, 223, 255);
    width:100%;
    display:grid;
  grid-template-columns:20% 60% 20%;
  padding-top: 23px;;
   }

   .name{
    text-align:center;
   }

   .url{
       text-align: center;
       padding:23px;
   }

   
   .url span{
    padding:12px;
}

.url span:hover{
  cursor: pointer;
}


   .sign{
    text-align: center;
    padding:23px;
   }


#content{
  /* border:2px solid red; */
  display:grid;
  grid-template-columns: repeat(2,auto);
  grid-gap:2rem;
  /* background-color: red; */
  background-color: rgb(135, 223, 255);
}


.text{
  background-color: rgb(135, 223, 255);
}


.photo{
  background-image: url('Group 685.png');
  background-position:51% -148%;
background-repeat: no-repeat;
}

.sponsor{
  height:200px;
  /* border:2px solid blue; */
  background-color: whitesmoke;
}

.spontext{
  /* border: 2px solid yellow; */
  margin-top: 3px;
  padding: 34px;
  text-align: center;
  font-size: 20px;
}
.spon{
  margin-top: -37px;
 column-count: auto;
 padding: 6px;
}
.spon img{
  padding: 36px;
}

.quo{
  /* border:2px solid red; */
  margin-top: 51px;
  display:grid;
  grid-template-columns: repeat(2,auto);
  grid-gap:2rem;
}
.quotext{
  /* border: 2px solid yellow; */
}
.quote{
  background-color: rgba(196, 196, 196, 1);
  /* border: 2px solid black; */
  width: 445px;
  height: 200px;
  padding: 51px;
  margin: 24px;
  border-radius: 24px;
}

.transactions{
  /* border: 2px solid black; */
  /* height: 400px; */
  display:grid;
  grid-template-columns: repeat(3,auto);
  grid-gap:2rem;

}
.wallet{
  text-align: center;
  margin:76px;
  height: 300px;
  border: 2px solid white;
  border-radius: 12px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.box1{
  /* border: 2px solid black; */
  height: 14px;
  width: 46px;
  margin-left: 114px;
  background-color: black;
}
.box2{
  /* border: 2px solid black; */
  margin-top: 4px;
  height: 26px;
  width: 55px;
  margin-left: 114px;
  background-color: rgba(255, 127, 92, 1);
}

.pay{
  border: 2px solid black;
   display:grid;
   grid-template-columns: repeat(2,auto);
   grid-gap:2rem;
}

.hand{
  /* border: 2px solid yellow; */
  background-color: rgba(219, 241, 250, 1);
 width: 300px;
 height: 400px;
 /* background-image: url('image 56.png'); */
}
.boxes{
  position: absolute;
  margin-top: 0px;
  height: 410px;
  width:472px;
  /* border: 2px solid red; */
  background-color: rgba(219, 241, 250, 1);
}