body{
 margin:0px;
 padding:0px;
 /* background:url('img2.jpg') no-repeat;
 background-size:cover; */
background-color:black;
color:white;
}
.container{
    /* border:2px solid #008000; */
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    height:300px;
    /* background-color: dimgrey; */
}

.heading{
    /* border:2px solid black; */
    color:brown;
    margin-left:50px;
}
.list{
    /* border:2px solid red; */


}
.list ul{
    display:flex;
    align-items: center;
    justify-content:center;

}
li{
    list-style: none;
    /* border:2px solid black; */
    padding:15px;
    font-size:20px;
    cursor:pointer;
}
li:hover{
  text-decoration:underline yellow;
}
.links{
    /* border:2px solid purple; */

}
.links p{
    color:red;
    margin-left:334px
}
.name{
    font-size:30px;
    font-weight: bolder;
    color:green;
}
.h{
    font-size:20px;
    color:bisque;
}
.count{
    font-size:20px;
    color:bisque;
}
.work{
    font-size: 25px;
    font-weight: bolder;
    color:yellowgreen;
}
.intro{
    /* border:2px solid black; */
    margin-left: 100px;;
}
button{
    cursor:pointer;
    background-color:black;
    color:white;
    border-radius:12px;
}
button:hover{
    background-color:rgb(84, 84, 84);
    color:white;
    border-radius:12px;
}